<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
</head>

<body>
    <a>สวัสดี Admin</a><br><br><br>


    <a>ราคาเหรียญปัจุบัน</a>
    <form method="POST" type="submit" action="/summaryToken">
        
        <select title="coin" value="selectedType" name="selectCoin">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="XRP">XRP</option>
        </select>

        <button type="submit">Check</button>


    </form>
    <br><br>

    <a>แก้ไขราคาเหรียญปัจจุบัน (USD $) </a><br>
    <form method="POST" type="submit" action="/editprice" class="updatePriceCoin">
        <select title="coin" value="selectedType" name="coinName">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="XRP">XRP</option>
        </select>
        <input title="price" type="number "step="any" name="coinPrice">
        <button type="submit">Summit</button>
    </form><br><br><br>

    <form method="POST" type="submit" action="/addNewCoin" class="addNewCoin">
        <a>เพิ่มสกุลเงินและราคาเข้าไปในระบบ</a><br>

        <a>Coin Name</a>
        <input title="coinName" type="text" name="coinName"><br>
        <a>Price</a>
        <input title="price" type="number" step="any" name="coinPrice"><br>
        <button type="submit">Add</button>
    </form><br><br><br>

    <form method="POST" type="submit" action="/addCoinWallet" class="addNewCoin">
        <a>เพิ่มจำนวนเงินให้ wallet และแก้ไขจำนวนเงินให้ wallet</a><br>

        <a>User Name</a>
        <input title="userName" type="text" name="user_name"><br>
        <a>Coin (amount)</a><br>
        <a>BTC</a>
        <input title="amount" type="number" step="any" name="BTC"><br>
        <a>ETH</a>
        <input title="amount" type="number" step="any" name="ETH"><br>
        <a>XRP</a>
        <input title="amount" type="number" step="any" name="XRP"><br>
        <a>LINK</a>
        <input title="amount" type="number" step="any" name="LINK"><br>
        <button type="submit">Add</button>
    </form><br><br><br>




    <form method="POST" type="submit" action="/transfer" class="fromSendCoin">
        <div>
            <a>โอนเงิน</a>
        </div>
        <div>
            <a>จาก User ชื่อ (ผู้โอนเงิน)</a>
            <input title="user" type="text" name="userOut">
            <a>ให้ User ชื่อ (ผู้รับเงิน)</a>
            <input title="user" type="text" name="userIn">
        </div>
        <div>
            <a>สกุลเงินที่ต้องการส่งออก</a>
            <select title="coin" value="selectedType" name="selectCoinOut">
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="XRP">XRP</option>
            </select>
        </div>

        <div>
            <a>จำนวนเงิน</a>
            <input title="amount" type="number" step="any" name="amount">
            <button type="submit">Send</button>
        </div>
    </form><br><br>

        <form method="POST" type="submit" action="/logout">
        <button name="logout" type="submit">Logout</button>
        </form>

</body>

</html>